.loginPage-login-page {
  font-family: 'Raleway', sans-serif;
  background-color: #343a40;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginPage-login-header {
  background-color: #007BFF;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.loginPage-logo {
  height: 50px;
}

.loginPage-navigation {
  width: 100%;
  text-align: left;
  padding: 10px 0;
}

.loginPage-navigation ul {
  list-style: none;
  padding: 0;
}

.loginPage-navigation li {
  display: inline;
  margin-right: 15px;
  color: #6C757D;
}

.loginPage-login-form-container {
  width: 300px;
  margin-top: 20px;
}

.loginPage-input-field {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #495057;
  color: #FFC107;
  width: 100%;
  margin-bottom: 10px;
}

.loginPage-login-button {
  padding: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.loginPage-login-button:hover {
  background-color: #0056b3;
}

.loginPage-error-message {
  color: #FFC107;
  margin-top: 10px;
}

.loginPage-additional-links {
  margin-top: 20px;
}

.loginPage-additional-links a {
  color: #28A745;
  display: block;
  margin-top: 5px;
  text-align: center;
}

.loginPage-footer {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #6C757D;
}

.loginPage-footer a {
  color: #fff;
  margin: 0 10px;
}
